@model List<RapidApiConsume.Models.ApiMovieViewModel>

@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
  <br /><br />
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>Movie Name</th>
      <th>Rating</th>
      <th>IMDb Page</th>
    </tr>
    @foreach (var item in Model)
		{
			<tr>
				<td>@item.rank</td>
				<td>@item.title</td>
				<td>@item.rating</td>
				<td>
          <a href="@item.imdb_link" class="btn btn-dark text-light" target="_blank">Watch on IMDb</a>
				</td>
			</tr>
		}
  </table>
</div>